:root {
  --background-color: rgb(255, 243, 234);
  --text-color: rgb(0, 0, 0);
}

@font-face {
  font-family: "ladiappFont"; /*a name to be used later*/
  src: url("https://w.ladicdn.com/658100db8b88b6002c8524f9/notoserifdisplay-variablefont_wdthwght-20240102135547-inypy.ttf")
    format("truetype");
}
html,
body {
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

.ant-modal {
  width: auto !important;
}

.ant-modal-content {
  padding: 0 !important;
  border: 0 !important;
  border-radius: 0 !important;
}
