.main {
  --carousel-width: 167px;
  --carousel-height: 300px;
  --spacing: 12px;

  min-height: 100vh;
  max-width: 420px;
  min-width: 360px;
  /* width: 100%; auto for block elemet*/
  margin: 0 auto;
  background-color: var(--background-color);

  overflow: hidden;
}

.headerContainer {
  padding: 10px 65px;
  padding-bottom: 0;
}

.header {
  font-family: "ladiappFont" !important;
  font-size: 32px !important;
  letter-spacing: 4px;
  line-height: 1.6;
  font-weight: 400 !important;
  -webkit-font-smoothing: antialiased;
  word-break: break-word;
  background-size: cover;
  background-position: center center;
  margin: 0 !important;
}
.divider {
  border-block-start: 2px solid var(--text-color) !important;
}

.carouselWrapper:nth-child(even) {
  transform: translateY(50%);
}
.carouselWrapper:last-child {
  opacity: 0;
  visibility: hidden;
}
.carousel {
  cursor: pointer;
  border-radius: 8px;
  width: var(--carousel-width);
  height: var(--carousel-height);
  overflow: hidden;
}

.productWrapper {
  width: 167px;
  height: 300px;
  position: relative;
}

.content :global .ant-modal-content {
  min-width: 330px !important;
  width: 40vw !important;
  /* position: relative !important; */
  /* left: 50% !important; */
  /* top: 50% !important; */
  /* transform: translate(-50%, -50%) !important; no need as Ui component already supported */
  aspect-ratio: 1 !important;
}
.footer {
  margin-top: 20px;
}

.socialInfo {
  display: flex;
}
.socialInfo:last-child {
  transform: translateY(-7px);
}
@media only screen and (min-width: 834px) {
  .main {
    --items-per-row: 4;

    max-width: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .headerContainer {
    width: 30%;
    min-width: 375px;
    margin: 0 auto;
  }

  .carouselContainer {
    width: calc(
      var(--carousel-width) * var(--items-per-row) + var(--spacing) *
        var(--items-per-row) * 2
    );
    margin: 0 auto;
  }
  .carouselWrapper {
    transform: translate(0) !important;
  }
  .carouselWrapper:last-child {
    display: none;
  }
  .footer {
  }
}

@media only screen and (min-width: 1024px) {
  .main {
    --items-per-row: 5;
  }
}
