.main {
  min-height: 100vh;
  width: 420px;
  margin: auto;
  background-color: var(--background-color);
  overflow: hidden;
}

.headerContainer {
  padding: 30px 65px;
  padding-bottom: 0;
}

.header {
  font-family: "ladiappFont" !important;
  font-size: 32px !important;
  letter-spacing: 4px;
  line-height: 1.6;
  font-weight: 400 !important;
  -webkit-font-smoothing: antialiased;
  word-break: break-word;
  background-size: cover;
  background-position: center center;
  margin: 0 !important;
}
.divider {
  border-block-start: 2px solid var(--text-color) !important;
}
.carousel {
  cursor: pointer;
  border-radius: 8px;
  width: 167px;
  height: 300px;
  overflow: hidden;
}
.carouselWrapper {
  /* display: flex; */
}
.carouselWrapper:last-child {
  opacity: 0;
  visibility: hidden;
}
.productWrapper {
  width: 167px;
  height: 300px;
  position: relative;
}

.nutrientImageWrapper {
  width: 48vw;
  height: 80vh;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}

.footer {
  margin: 20px 0;
}

.socialInfo {
  display: flex;
}
